<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1470058869958-2a77ade41c02?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
  <div class="container">
    <h1>Hello Plant Lover 🌱</h1>
    <p>Unbeleafable plants for rent in your area.</p>
    <%= link_to "Browse now", plants_path, class:"btn btn-flat btn-white" %>
  </div>
</div>
<div class="container">



<div class="cards">
    <% @plants.each do |plant| %>
      <div class="card-trip">
        <%= link_to "", plant_path(plant), class:'plant-card-link' %>
        <div class="plant-img">
          <%= image_tag(plant.photo) if plant.photo.attached? %>
        </div>

        <div class="card-trip-infos">
          <div>
            <h2><%= plant.name %></h2>
            <p><%= plant.description %></p>
          </div>
          <h2 class="card-trip-pricing">£<%= plant.price_per_day %></h2>
          <div class="card-trip-user avatar-bordered">
            <%= image_tag plant.owner.photo %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
