<div class="container">
  <h1>All Plants</h1>


  <div class="cards">
    <% @plants.each do |plant| %>
      <div class="card-trip">
        <%= link_to "", plant_path(plant), class:'plant-card-link' %>
        <div class="plant-img">
          <%= image_tag(plant.photo) if plant.photo.attached? %>
        </div>

        <div class="card-trip-infos">
          <div>
            <h2><%= plant.name %></h2>
            <p><%= plant.description %></p>
          </div>
          <h2 class="card-trip-pricing">£<%= plant.price_per_day %></h2>
          <div class="card-trip-user avatar-bordered">
            <%= image_tag(plant.owner.photo) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>


</div>
